.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App iframe{
  border: none;
  border: 2px solid red;
  width: 380px;
}